
<div class="answer-card">
    <h4>- You</h4>
    <h4><%= @user_question %></h4>
</div>

<div class="answer-card">
    <h4>- Your coach</h4>
    <h4><%= @coach_answer %></h4>
</div>

<%= link_to "Go back", "/", class: "btn-back" %>
