<h2>The coach awaits your questions</h2>
<div>
    <form action="/answer">
        <label for="user-question">Type your question: </label>
        <input type="text" name="question" id="user-question" placeholder="Ask!" required> 
        <input type="submit" class="btn-back">
    </form>
</div>